/* CSS Document */
body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}
h3 {margin: 0;}

#facebookLogInDiv {
    width: 50%;
    background-color: orange;
    border-radius: 30px;
    padding: 3% 5%;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}

#facebookLogInDiv p {
    font-size: 1.5rem;
    color: white;
}

#facebookLogInDiv i {
    font-size: 8rem;
    color: white;
}

.bg-grey {
  background-color: #f6f6f6;
}
.jumbotron {
  	background-color: #f4511e;
    background-image: url("../images/homeHeader.svg");
  	background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
  	padding: 50px 25px;
    text-align: center;
	font-family: Montserrat, sans-serif;
	
}
.jumbotron h1 { 
    color: white;
    text-shadow: 2px 2px 10px black;
    font-size: 8rem;
}
.jumbotron p { 
    color: white;
    text-shadow: 2px 2px 8px black;
    font-size: 1.5rem;
}

.container-fluid {
  padding: 0px 50px 10px;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

/* Navbar */
.navbar {
  margin-bottom: 0;
  background-color: gren;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
	font-family: Montserrat, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
  color: #000 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

/* Message Editor */
textarea#postMessage {
	height: 160px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}